%section#section-welcome.full-height.dark{"data-stellar-background-ratio" => ".2"}
  .center-y.text-center
    CREATIVE AGENCY / WEBSITE DEVELOPMENT / COPYWRITER
    .spacer-single
    .text-slider.border-deco
      .text-item
        Welcome To
        %span.id-color Cubic
      .text-item
        Desktop +
        %span.id-color Mobile
      .text-item
        Clean &
        %span.id-color Fresh
      .text-item
        %span.id-color>
          %i.icon-bike
        Ready to Go?
    .spacer-single
    %a.btn.btn-border.btn-big{:href => "#section-portfolio"} View Our Works
%section#section-about
  .container
    .row
      .row
        .col-md-6.col-md-offset-3.text-center
          %h1.animated{"data-animation" => "fadeInUp"}
            Who We
            %span.id-color Are?
            %span.small-border.animated{"data-animation" => "fadeInUp"}
          .spacer-single
      / featured box begin
      .feature-box-small-icon.box-fx.center.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
        .inner
          .front
            %i.icon-genius
            %h3 Our Portfolio
            %span Our Recent Works
          .info
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
            %br/
            %a.btn.btn-border{:href => "#"} Read More
      / featured box close
      / featured box begin
      .feature-box-small-icon.box-fx.center.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
        .inner
          .front
            %i.icon-linegraph
            %h3 Experiences
            %span What We Have Done
          .info
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
            %br/
            %a.btn.btn-border{:href => "#"} Read More
      / featured box close
      / featured box begin
      .feature-box-small-icon.box-fx.center.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "400"}
        .inner
          .front
            %i.icon-layers
            %h3 Our Vision
            %span View Our Story
          .info
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
            %br/
            %a.btn.btn-border{:href => "#"} Read More
      / featured box close
      / featured box begin
      .feature-box-small-icon.box-fx.center.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "600"}
        .inner
          .front
            %i.icon-heart
            %h3 Happy Clients
            %span What They Says
          .info
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
            %br/
            %a.btn.btn-border{:href => "#"} Read More
      / featured box close
%section#section-about-us-2.side-bg.no-padding
  .image-container.col-md-5.pull-left.animated{"data-animation" => "fadeInLeft", "data-delay" => "0"}
  .container
    .row
      .inner-padding
        .col-md-6.col-md-offset-6.animated{"data-animation" => "fadeInRight", "data-delay" => "200"}
          %h2 We are group of professionals focused on making creative and innovative works
          %p.intro Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .row
            .col-md-6
              %h3 Our Vision
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .col-md-6
              %h3 Our Mission
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .clearfix
%section.no-padding.dark{"data-stellar-background-ratio" => ".2"}
  .de-video-container
    .de-video-content
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %h1.animated{"data-animation" => "fadeInUp"}
              Ready To
              %span.id-color Rock?
              %span.small-border.animated{"data-animation" => "fadeInUp"}
            .animated{"data-animation" => "fadeInUp"}
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              .spacer-single
              %a.btn.btn-border{"data-animation" => "fadeIn", :href => "#"} Let's Rock!
    .de-video-overlay
    / load your video here
    %video{:autoplay => "", :loop => "", :muted => "", :poster => "video/video-1.jpg"}
      %source{:src => "video/video-1.webm", :type => "video/webm"}
      %source{:src => "video/video-1.mp4", :type => "video/mp4"}
      %source{:src => "video/video-1.ogg", :type => "video/ogg"}
%section#section-team
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Meet The
          %span.id-color Team
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    .row
      / team member
      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
        .team-pic
          %img.img-responsive{:alt => "", :src => "images/team/team_pic_1.jpg"}/
        .team-desc.col-md-12
          %h3 John Smith
          %p.lead Project Manager
          .small-border
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .social
            %a{:href => "#"}
              %i.fa.fa-facebook.fa-lg
            %a{:href => "#"}
              %i.fa.fa-twitter.fa-lg
            %a{:href => "#"}
              %i.fa.fa-google-plus.fa-lg
            %a{:href => "#"}
              %i.fa.fa-skype.fa-lg
      / team close
      / team member
      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
        .team-pic
          %img.img-responsive{:alt => "", :src => "images/team/team_pic_2.jpg"}/
        .team-desc.col-md-12
          %h3 Michael Dennis
          %p.lead Creative Director
          .small-border
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .social
            %a{:href => "#"}
              %i.fa.fa-facebook.fa-lg
            %a{:href => "#"}
              %i.fa.fa-twitter.fa-lg
            %a{:href => "#"}
              %i.fa.fa-google-plus.fa-lg
            %a{:href => "#"}
              %i.fa.fa-skype.fa-lg
      / team close
      / team member
      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
        .team-pic
          %img.img-responsive{:alt => "", :src => "images/team/team_pic_3.jpg"}/
        .team-desc.col-md-12
          %h3 Sarah Michelle
          %p.lead Creative Staff
          .small-border
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .social
            %a{:href => "#"}
              %i.fa.fa-facebook.fa-lg
            %a{:href => "#"}
              %i.fa.fa-twitter.fa-lg
            %a{:href => "#"}
              %i.fa.fa-google-plus.fa-lg
            %a{:href => "#"}
              %i.fa.fa-skype.fa-lg
      / team close
      / team member
      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
        .team-pic
          %img.img-responsive{:alt => "", :src => "images/team/team_pic_4.jpg"}/
        .team-desc.col-md-12
          %h3 Katty Wilson
          %p.lead Creative Staff
          .small-border
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .social
            %a{:href => "#"}
              %i.fa.fa-facebook.fa-lg
            %a{:href => "#"}
              %i.fa.fa-twitter.fa-lg
            %a{:href => "#"}
              %i.fa.fa-google-plus.fa-lg
            %a{:href => "#"}
              %i.fa.fa-skype.fa-lg
      / team close
      .clearfix
%section#fun-facts.dark{"data-stellar-background-ratio" => ".2"}
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Fun
          %span.id-color Facts
        %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
      .col-md-3.animated{"data-animation" => "fadeInLeft", "data-delay" => "100"}
        .de_count
          %i.icon-alarmclock.animated{"data-animation" => "fadeInDown", "data-delay" => "0"}
          %h3.timer{"data-speed" => "2500", "data-to" => "1980"} 0
          %span Hours of Works
      .col-md-3.animated{"data-animation" => "fadeInLeft", "data-delay" => "0"}
        .de_count
          %i.icon-documents.animated{"data-animation" => "fadeInDown", "data-delay" => "200"}
          %h3.timer{"data-speed" => "2500", "data-to" => "1280"} 0
          %span Lines of Code
      .col-md-3.animated{"data-animation" => "fadeInRight", "data-delay" => "0"}
        .de_count
          %i.icon-piechart.animated{"data-animation" => "fadeInDown", "data-delay" => "400"}
          %h3.timer{"data-speed" => "2500", "data-to" => "750"} 0
          %span Slice of Pizza
      .col-md-3.animated{"data-animation" => "fadeInRight", "data-delay" => "100"}
        .de_count
          %i.icon-wine.animated{"data-animation" => "fadeInDown", "data-delay" => "600"}
          %h3.timer{"data-speed" => "2500", "data-to" => "520"} 0
          %span Cups of Coffee
%section#section-services.no-bottom
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Our
          %span.id-color Services
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    .row
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
        .inner
          %i.icon-tools
          .text
            %h3 Web Design
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
        .inner
          %i.icon-global
          .text
            %h3 Branding
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "400"}
        .inner
          %i.icon-megaphone
          .text
            %h3 Campaign
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "600"}
        .inner
          %i.icon-phone
          .text
            %h3 Mobile Apps
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "800"}
        .inner
          %i.icon-magnifying-glass
          .text
            %h3 SEO Services
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "1000"}
        .inner
          %i.icon-pencil
          .text
            %h3 Copywriter
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      .spacer-single
      .col-md-12.text-center.animated{"data-animation" => "fadeInUp", "data-delay" => "400"}
        %img.img-responsive{:alt => "", :src => "images/cubic_ss.png"}/

%section#section-skill-bar.dark{"data-stellar-background-ratio" => ".2"}
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Our
          %span.id-color Skill
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    .row
      .col-md-6
        %h3 Design
        .de-progress
          .progress-bar{"data-value" => "80%"}
      .col-md-6
        %h3 Development
        .de-progress
          .progress-bar{"data-value" => "90%"}
      .spacer-single
      .col-md-6
        %h3 Marketing
        .de-progress
          .progress-bar{"data-value" => "70%"}
      .col-md-6
        %h3 Branding
        .de-progress
          .progress-bar{"data-value" => "60%"}
      .spacer-single
      .col-md-6
        %h3 Monitoring
        .de-progress
          .progress-bar{"data-value" => "65%"}
      .col-md-6
        %h3 Supporting
        .de-progress
          .progress-bar{"data-value" => "80%"}

%section#section-portfolio.no-bottom
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Our
          %span.id-color Works
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    / portfolio filter begin
    .row
      .col-md-12.text-center
        %ul#filters.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
          %li
            %a.selected{"data-filter" => "*", :href => "#"} show all
          %li
            %a{"data-filter" => ".illustration", :href => "#"} Illustration
          %li
            %a{"data-filter" => ".mobile", :href => "#"} Mobile
          %li
            %a{"data-filter" => ".photography", :href => "#"} Photography
          %li
            %a{"data-filter" => ".website", :href => "#"} Website
  / portfolio filter close
  #gallery.gallery.full-gallery.de-gallery.pf_full_width.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
    / gallery item
    .item.illustration
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(1).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider.html"}
          %span.pf_text
            %span.project-name Project Name #1
            %span illustration
        %img{:alt => "", :src => "images/portfolio/pf%20(1).jpg"}/
    / close gallery item
    / gallery item
    .item.mobile.website
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(2).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-youtube.html"}
          %span.pf_text
            %span.project-name Project Name #2
            %span mobile, website
        %img{:alt => "", :src => "images/portfolio/pf%20(2).jpg"}/
    / close gallery item
    / gallery item
    .item.website.mobile
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(3).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider-big.html"}
          %span.pf_text
            %span.project-name Project Name #3
            %span mobile, website
        %img{:alt => "", :src => "images/portfolio/pf%20(3).jpg"}/
    / close gallery item
    / gallery item
    .item.illustration.photography
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(4).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-youtube-big.html"}
          %span.pf_text
            %span.project-name Project Name #4
            %span illustration, photography
        %img{:alt => "", :src => "images/portfolio/pf%20(4).jpg"}/
    / close gallery item
    / gallery item
    .item.website.photography.mobile
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(5).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider.html"}
          %span.pf_text
            %span.project-name Project Name #5
            %span mobile, website
        %img{:alt => "", :src => "images/portfolio/pf%20(5).jpg"}/
    / close gallery item
    / gallery item
    .item.illustration.website
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(6).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider-big.html"}
          %span.pf_text
            %span.project-name Project Name #6
            %span illustration, website
        %img{:alt => "", :src => "images/portfolio/pf%20(6).jpg"}/
  / close gallery item
  #loader-area
    .project-load

%section#view-all-projects.call-to-action.bg-color.dark.text-center{"data-stellar-background-ratio" => ".2"}
  %a.btn.btn-border.btn-big{:href => "works.html"} View All Works

%section#section-testimonial.dark
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Customer
          %span.id-color Says
        %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    #testimonial-carousel.de_carousel.row.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
      .col-md-4.item
        .de_testi
          %blockquote
            %p The support staff is AMAZING. Same day service. They also have built a GREAT theme that supports so many functions. You can tweak little things here and there and use its functionality for SO much more! What an AWESOME AWESOME AWESOME theme.
          .de_testi_by
            .de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(1).jpg"}/
            .de_testi_company
              %strong> Feldhouse
              , Customer
      .col-md-4.item
        .de_testi
          %blockquote
            %p All of my questions were answered, designesia was very forthcoming and helpful and even sent me custom code for a specific problem I had. I know one thing: whatever theme designesia publishes, you can be assured that you get the best quality and support out there.
          .de_testi_by
            %span.de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(2).jpg"}/
            .de_testi_company
              %strong> Mores
              , Customer
      .col-md-4.item
        .de_testi
          %blockquote
            %p There are some themes I have bought and are just 'eh' about. This one hands down does so much more than you could think. Perfect theme - and thanks for continually updating and improving it!
          .de_testi_by
            .de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi-default.jpg"}/
            .de_testi_company
              %strong> Feldhouse
              , Customer
      .col-md-4.item
        .de_testi
          %blockquote
            %p Again, great template and I love that it works on the computer, iPad, phone, etc. Very clean design, keep up the great work!
          .de_testi_by
            .de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(1).jpg"}/
            .de_testi_company
              %strong> Barbara
              , Customer
      .col-md-4.item
        .de_testi
          %blockquote
            %p Everything is nicely accessible inside the theme customization screen. It is easily comprehensible, the way things work is very natural and intuitive.
          .de_testi_by
            %span.de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(2).jpg"}/
            .de_testi_company
              %strong> Mores
              , Customer
      .col-md-4.item
        .de_testi
          %blockquote
            %p Fit our needs like a glove. 1 hour to setup. I am currently implementing the language support Thanks for the awesome.
          .de_testi_by
            .de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi-default.jpg"}/
            .de_testi_company
              %strong> Itweb
              , Customer

%section#section-blog
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Our
          %span.id-color Blog
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    .animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
      .col-md-4.bloglist
        .post-content
          .post-image
            .flexslider.blog-slider
              .overlay
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-1.jpg"}/
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-2.jpg"}/
          .date-box
            %span.day 20
            %span.month SEP
          .post-text
            %h3
              %a{:href => "css/index.html#"} Best DSLR Camera
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br/
            %a.btn-text{:href => "#"} Read More
      .col-md-4.bloglist
        .post-content
          .post-image
            .flexslider.blog-slider
              .overlay
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-3.jpg"}/
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-4.jpg"}/
          .date-box
            %span.day 18
            %span.month SEP
          .post-text
            %h3
              %a{:href => "css/index.html#"} Playstation 4
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br/
            %a.btn-text{:href => "#"} Read More
      .col-md-4.bloglist
        .post-content
          .post-image
            .flexslider.blog-slider
              .overlay
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-5.jpg"}/
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-6.jpg"}/
          .date-box
            %span.day 10
            %span.month SEP
          .post-text
            %h3
              %a{:href => "css/index.html#"} Photography Tips
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br/
            %a.btn-text{:href => "#"} Read More
      .spacer-single
      .text-center
        %a.btn.btn-border{:href => "blog.html"} View All Posts
%section#logo-full
  .container
    / logo carousel
    .row
      .logo-carousel
        %ul#logo-carousel.slides
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/1.png"}/
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/2.png"}/
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/3.png"}/
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/4.png"}/
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/5.png"}/
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/6.png"}/
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/7.png"}/
          %li
            .col-md-2
              %img{:alt => "", :src => "images/logo/8.png"}/
  / logo carousel close
%section#section-contact.dark{"data-stellar-background-ratio" => ".2"}
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Contact
          %span.id-color Us
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        %p.animated{"data-animation" => "fadeIn"}
          Get in touch with us. Feel Free to use contact below.
        .spacer-single
      .col-md-8.animated{"data-animation" => "fadeInUp", "data-delay" => "200", "data-speed" => "5"}
      .col-md-4
        %address
          %span
            %i.fa.fa-map-marker.fa-lg>
            100 Mainstreet Center, Sydney
          %span
            %i.fa.fa-phone.fa-lg>
            (208) 333 9296
          %span
            %i.fa.fa-envelope-o.fa-lg
            %a{:href => "mailto:contact@example.com"} contact@example.com
          %span
            %i.fa.fa-globe.fa-lg
            %a{:href => "#"} support.cubic.com
