%section#section-welcome.full-height.dark{"data-stellar-background-ratio" => ".2"}
  .center-y.text-center
    HATKE Events - Memories to Rejoice
    .spacer-single
    .text-slider.border-deco
      .text-item
        Welcome To
        %span.id-color HATKE
      .text-item
        Memories to
        %span.id-color Rejoice
      .text-item
        Since
        %span.id-color 2013
      .text-item
        %span.id-color>
          %i.icon-bike
        Ready to Go?
    .spacer-single
    %a.btn.btn-border.btn-big{:href => "#section-portfolio"} View Our Works
%section#section-about
  .container
    .row
      .row
        .col-md-6.col-md-offset-3.text-center
          %h1.animated{"data-animation" => "fadeInUp"}
            Who We
            %span.id-color Are?
            %span.small-border.animated{"data-animation" => "fadeInUp"}
          .spacer-single
      / featured box begin
      .col-md-5{:style => "padding:0"}
        .feature-box-small-icon.box-fx.center.col-md-6.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
          .inner
            .front
              %i.icon-genius
              %h3 Our Portfolio
              %span Our Recent Works
            .info
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              %br/
              %a.btn.btn-border{:href => "#"} Read More
        / featured box close
        / featured box begin
        .feature-box-small-icon.box-fx.center.col-md-6.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
          .inner
            .front
              %i.icon-linegraph
              %h3 Experiences
              %span What We Have Done
            .info
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              %br/
              %a.btn.btn-border{:href => "#"} Read More
        / featured box close
        / featured box begin
      .col-md-7{:style => "padding:0"}
        .feature-box-small-icon.box-fx.center.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "400"}
          .inner
            .front
              %i.icon-layers
              %h3 Our Vision
              %span View Our Story
            .info
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              %br/
              %a.btn.btn-border{:href => "#"} Read More
        / featured box close
        / featured box begin
        .feature-box-small-icon.box-fx.center.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "600"}
          .inner
            .front
              %i.icon-heart
              %h3 Happy Clients
              %span What They Says
            .info
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              %br/
              %a.btn.btn-border{:href => "#"} Read More
        / featured box close
        .feature-box-small-icon.box-fx.center.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "600"}
          .inner
            .front
              %i.icon-heart
              %h3 Happy Clients
              %span What They Says
            .info
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              %br/
              %a.btn.btn-border{:href => "#"} Read More
        / featured box close
%section#section-about-us-2.side-bg.no-padding
  .image-container.col-md-5.pull-left.animated{"data-animation" => "fadeInLeft", "data-delay" => "0"}
  .container
    .row
      .inner-padding
        .col-md-6.col-md-offset-6.animated{"data-animation" => "fadeInRight", "data-delay" => "200"}
          %h2 HATKE is an event management company, since 2013
          %p.intro
            The story of HATKE began when few crazy folks from a B-Scholl had planned for their own college fest; it was that success of their college fest which they pulled it out on a grand scale within a mere 13days of hard work which got them an idea of getting kick started with their own event management company which would be different from any other event mgmt company and that is what they believed in and hence came with a different idea or a “Hatke” idea by naming their company as HATKE with its own tag line as the USP,
            %span.id-color "Memories to Rejoice"!!
          .row
            .col-md-6
              %h3 Our Vision
              %p “Customer is the king” this is long old tradition which we have inherited in our company we ensure that you are treated as the king, & see to it that the event goes on a grand – gala scale. With memories to be remembered for ever.
            .col-md-6
              %h3 Our Mission
              %p Relationships is the key to success for us, we give much importance in maintain relationships.A trust worthy team which will do everything & anything for the event to blossom out like flower.
        .clearfix
%section.no-padding.dark.ready-rock{"data-stellar-background-ratio" => ".2"}
  .de-video-container
    .de-video-content
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %h1.animated{"data-animation" => "fadeInUp"}
              Ready To
              %span.id-color Rock?
              %span.small-border.animated{"data-animation" => "fadeInUp"}
            .animated{"data-animation" => "fadeInUp"}
              HATKE is an event management company which is started by few creative, hardworking, passionate about work and crazy MBA graduates who look at the world all together in a different way. We the young guns from HATKE make sure that whatever is the event we do, we do it HATKE and ensure that the client is more than satisfied.
              .spacer-single
              %a.btn.btn-border{"data-animation" => "fadeIn", :href => "#"} Let's Rock!
    .de-video-overlay
    / load your video here
    %video{:autoplay => "", :loop => "", :muted => "", :poster => "video/video-1.jpg"}
      %source{:src => "video/video-1.webm", :type => "video/webm"}
      %source{:src => "video/video-1.mp4", :type => "video/mp4"}
      %source{:src => "video/video-1.ogg", :type => "video/ogg"}
/ %section#section-team
/  .container
/    .row
/      .col-md-6.col-md-offset-3.text-center
/        %h1.animated{"data-animation" => "fadeInUp"}
/          Meet The
/          %span.id-color Team
/          %span.small-border.animated{"data-animation" => "fadeInUp"}
/        .spacer-single
/    .row
/      / team member
/      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
/        .team-pic
/          %img.img-responsive{:alt => "", :src => "images/team/team_pic_1.jpg"}/
/        .team-desc.col-md-12
/          %h3 John Smith
/          %p.lead Project Manager
/          .small-border
/          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
/          .social
/            %a{:href => "#"}
/              %i.fa.fa-facebook.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-twitter.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-google-plus.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-skype.fa-lg
/      / team close
/      / team member
/      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
/        .team-pic
/          %img.img-responsive{:alt => "", :src => "images/team/team_pic_2.jpg"}/
/        .team-desc.col-md-12
/          %h3 Michael Dennis
/          %p.lead Creative Director
/          .small-border
/          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
/          .social
/            %a{:href => "#"}
/              %i.fa.fa-facebook.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-twitter.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-google-plus.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-skype.fa-lg
/      / team close
/      / team member
/      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
/        .team-pic
/          %img.img-responsive{:alt => "", :src => "images/team/team_pic_3.jpg"}/
/        .team-desc.col-md-12
/          %h3 Sarah Michelle
/          %p.lead Creative Staff
/          .small-border
/          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
/          .social
/            %a{:href => "#"}
/              %i.fa.fa-facebook.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-twitter.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-google-plus.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-skype.fa-lg
/      / team close
/      / team member
/      .de-team-list.col-md-3.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
/        .team-pic
/          %img.img-responsive{:alt => "", :src => "images/team/team_pic_4.jpg"}/
/        .team-desc.col-md-12
/          %h3 Katty Wilson
/          %p.lead Creative Staff
/          .small-border
/          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
/          .social
/            %a{:href => "#"}
/              %i.fa.fa-facebook.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-twitter.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-google-plus.fa-lg
/            %a{:href => "#"}
/              %i.fa.fa-skype.fa-lg
/      / team close
/      .clearfix
%section#section-services.no-bottom
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Our
          %span.id-color Services
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    .row
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "0"}
        .inner
          %i.icon-tools
          .text
            %h3 Wedding Events
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
        .inner
          / %i.icon-global
          %i.fa.fa-birthday-cake.icon-global
          .text
            %h3 Birthday Parties
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "400"}
        .inner
          %i.icon-megaphone
          .text
            %h3 Corporate Events
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "600"}
        .inner
          %i.icon-phone
          .text
            %h3 Decore
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "800"}
        .inner
          %i.icon-magnifying-glass
          .text
            %h3 College Fest
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      / feature box begin
      .feature-box-small-icon.col-md-4.animated{"data-animation" => "fadeInUp", "data-delay" => "1000"}
        .inner
          %i.icon-pencil
          .text
            %h3 Campaign
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
      / feature box close
      .spacer-single
      .col-md-12.text-center.animated{"data-animation" => "fadeInUp", "data-delay" => "400"}
        %img.img-responsive{:alt => "", :src => "images/cubic_ss.png"}/
%section#fun-facts.dark{"data-stellar-background-ratio" => ".2"}
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Fun
          %span.id-color Facts
        %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
      .col-md-4.animated{"data-animation" => "fadeInLeft", "data-delay" => "100"}
        .de_count
          %i.icon-dial.animated{"data-animation" => "fadeInDown", "data-delay" => "0"}
          %h3.timer{"data-speed" => "2500", "data-to" => "200"} 0
          %span Clients / Customers
      .col-md-4.animated{"data-animation" => "fadeInLeft", "data-delay" => "0"}
        .de_count
          %i.icon-facebook.animated{"data-animation" => "fadeInDown", "data-delay" => "200"}
          %h3.timer{"data-speed" => "2500", "data-to" => "3000"} 0
          %span{:style => " display: inline-flex;"}
            Faceook
            %i.fa.fa-thumbs-up{:style => "font-size: 18px;padding-left: 10px;"}
      .col-md-4.animated{"data-animation" => "fadeInRight", "data-delay" => "0"}
        .de_count
          %i.icon-pictures.animated{"data-animation" => "fadeInDown", "data-delay" => "400"}
          %h3.timer{"data-speed" => "2500", "data-to" => "750"} 0
          %span{:style => " display: inline-flex;"}
            Instagram
            %i.fa.fa-heart{:style => "font-size: 18px;padding-left: 10px;"}
      / .col-md-3.animated{"data-animation" => "fadeInRight", "data-delay" => "100"}
      /  .de_count
      /    %i.icon-wine.animated{"data-animation" => "fadeInDown", "data-delay" => "600"}
      /    %h3.timer{"data-speed" => "2500", "data-to" => "520"} 0
      /    %span Cups of Coffee
/%section#section-skill-bar.dark{"data-stellar-background-ratio" => ".2"}
/  .container
/    .row
/      .col-md-12.text-center
/        %h1.animated{"data-animation" => "fadeInUp"}
/          Our
/          %span.id-color Skill
/          %span.small-border.animated{"data-animation" => "fadeInUp"}
/        .spacer-single
/    .row
/      .col-md-6
/        %h3 Design
/        .de-progress
/          .progress-bar{"data-value" => "80%"}
/      .col-md-6
/        %h3 Development
/        .de-progress
/          .progress-bar{"data-value" => "90%"}
/      .spacer-single
/      .col-md-6
/        %h3 Marketing
/        .de-progress
/          .progress-bar{"data-value" => "70%"}
/      .col-md-6
/        %h3 Branding
/        .de-progress
/          .progress-bar{"data-value" => "60%"}
/      .spacer-single
/      .col-md-6
/        %h3 Monitoring
/        .de-progress
/          .progress-bar{"data-value" => "65%"}
/      .col-md-6
/        %h3 Supporting
/        .de-progress
/          .progress-bar{"data-value" => "80%"}

%section#section-portfolio.no-bottom
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Our
          %span.id-color Works
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    / portfolio filter begin
    .row
      .col-md-12.text-center
        %ul#filters.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
          %li
            %a.selected{"data-filter" => "*", :href => "#"} show all
          %li
            %a{"data-filter" => ".wedding", :href => "#"} Wedding
          %li
            %a{"data-filter" => ".birthday", :href => "#"} Birthday
          %li
            %a{"data-filter" => ".corporate", :href => "#"} Corporate
          %li
            %a{"data-filter" => ".decore", :href => "#"} Decore
  / portfolio filter close
  #gallery.gallery.full-gallery.de-gallery.pf_full_width.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
    / gallery item
    .item.wedding
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "../../images/portfolio/pf1.jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider.html"}
          %span.pf_text
            %span.project-name Project Name #1
            %span illustration
        %img{:alt => "", :src => "/assets/portfolio/Engagement-Design-1.png"}/
    / close gallery item
    / gallery item
    .item.birthday.decore
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(2).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-youtube.html"}
          %span.pf_text
            %span.project-name Project Name #2
            %span mobile, website
        %img{:alt => "", :src => "/assets/portfolio/Engagement-Design-2.png"}/
    / close gallery item
    / gallery item
    .item.decore.birthday
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(3).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider-big.html"}
          %span.pf_text
            %span.project-name Project Name #3
            %span mobile, website
        %img{:alt => "", :src => "/assets/portfolio/Engagement-Design-7.png"}/
    / close gallery item
    / gallery item
    .item.wedding.corporate
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(4).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-youtube-big.html"}
          %span.pf_text
            %span.project-name Project Name #4
            %span illustration, photography
        %img{:alt => "", :src => "/assets/portfolio/Engagement-Design-6.png"}/
    / close gallery item
    / gallery item
    .item.decore.corporate.birthday
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(5).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider.html"}
          %span.pf_text
            %span.project-name Project Name #5
            %span mobile, website
        %img{:alt => "", :src => "/assets/portfolio/Mandap-Design-2.png"}/
    / close gallery item
    / gallery item
    .item.wedding.decore
      .picframe
        %span.overlay
          %span.icon
            %a{"data-type" => "prettyPhoto[gallery]", :href => "images/portfolio/pf%20(6).jpg"}
              %i.fa.fa-search.icon-view
          %span.icon
            %i.fa.fa-align-justify.fa-external-link.icon-info{"data-value" => "project-details-slider-big.html"}
          %span.pf_text
            %span.project-name Project Name #6
            %span illustration, website
        %img{:alt => "", :src => "/assets/portfolio/Mandap-Design-3.png"}/
  / close gallery item
  #loader-area
    .project-load

%section#view-all-projects.call-to-action.bg-color.dark.text-center{"data-stellar-background-ratio" => ".2"}
  %a.btn.btn-border.btn-big{:href => "works.html"} View All Works

%section#section-testimonial.dark
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Customer
          %span.id-color Says
        %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    #testimonial-carousel.de_carousel.row.animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
      .col-md-4.item
        .de_testi
          %blockquote
            %p Thank you for all your suport in making the event successful. The reviews related to Hatke Events from reidents is found to e excellent, god less you and your team.
          .de_testi_by
            .de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(1).jpg"}/
            .de_testi_company
              %strong> Srinivas
              , Hi Rise PVR Meadows.
      .col-md-4.item
        .de_testi
          %blockquote
            %p Your team really done a fantastic job. Lot of morning joggers really taking about you and your team and the way you guys conducted the show with lots of energy and enthusiasm. Thank you very much for all your efforts.
          .de_testi_by
            %span.de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(2).jpg"}/
            .de_testi_company
              %strong> Dr.Sneha Joshi
              , Hi Rise PVR Meadows
      .col-md-4.item
        .de_testi
          %blockquote
            %p As all know, decors stand as cornerstone to every celebration, Hatke Events did an outstating jo in adding color to my engagement ceremony. Trul impressed with their work and thnaking the entire team(Avinash) for beautifying the event.
          .de_testi_by
            .de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi-default.jpg"}/
            .de_testi_company
              %strong> Pranav
              , Khamam
      .col-md-4.item
        .de_testi
          %blockquote
            %p Thank you so much all the effort in making our daughter's first birthday party look lavish and grand with your princess setup. Each and veryone in the family & friends circle were extremely happy with the arrangements made. Thanks to you and your team for running the event successfully.
          .de_testi_by
            .de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(1).jpg"}/
            .de_testi_company
              %strong> Swathi & Sunny
              , Aparna Towers
      .col-md-4.item
        .de_testi
          %blockquote
            %p Great team, great work and awesoe photography, thnk you Hatke Events for arranging and setting up little man theme for kids first birthday. It was a great associaation with you guys and shall surly refer to people who each out to me for having their parties be organised by you and your team Avinash.
          .de_testi_by
            %span.de_testi_pic
              %img.img-circle{:alt => "", :src => "images/testi_pic%20(2).jpg"}/
            .de_testi_company
              %strong> Sambeet & Lora
              , My Home Jewel
      // .col-md-4.item
      //  .de_testi
      //    %blockquote
      //      %p Fit our needs like a glove. 1 hour to setup. I am currently implementing the language support Thanks for the awesome.
      //    .de_testi_by
      //      .de_testi_pic
      //        %img.img-circle{:alt => "", :src => "images/testi-default.jpg"}/
      //      .de_testi_company
      //        %strong> Itweb
      //        , Customer

%section#section-blog
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Our
          %span.id-color Blog
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        .spacer-single
    .animated{"data-animation" => "fadeInUp", "data-delay" => "200"}
      .col-md-4.bloglist
        .post-content
          .post-image
            .flexslider.blog-slider
              .overlay
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-1.jpg"}/
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-2.jpg"}/
          .date-box
            %span.day 20
            %span.month SEP
          .post-text
            %h3
              %a{:href => "css/index.html#"} Best DSLR Camera
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br/
            %a.btn-text{:href => "#"} Read More
      .col-md-4.bloglist
        .post-content
          .post-image
            .flexslider.blog-slider
              .overlay
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-3.jpg"}/
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-4.jpg"}/
          .date-box
            %span.day 18
            %span.month SEP
          .post-text
            %h3
              %a{:href => "css/index.html#"} Playstation 4
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br/
            %a.btn-text{:href => "#"} Read More
      .col-md-4.bloglist
        .post-content
          .post-image
            .flexslider.blog-slider
              .overlay
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-5.jpg"}/
                %li
                  %img{:alt => "", :src => "images/blog/pic-blog-6.jpg"}/
          .date-box
            %span.day 10
            %span.month SEP
          .post-text
            %h3
              %a{:href => "css/index.html#"} Photography Tips
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br/
            %a.btn-text{:href => "#"} Read More
      .spacer-single
      .text-center
        %a.btn.btn-border{:href => "blog.html"} View All Posts
/%section#logo-full
/  .container
/    / logo carousel
/    .row
/      .logo-carousel
/        %ul#logo-carousel.slides
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/1.png"}/
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/2.png"}/
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/3.png"}/
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/4.png"}/
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/5.png"}/
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/6.png"}/
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/7.png"}/
/          %li
/            .col-md-2
/              %img{:alt => "", :src => "images/logo/8.png"}/
/  / logo carousel close
%section#section-contact.dark{"data-stellar-background-ratio" => ".2"}
  .container
    .row
      .col-md-12.text-center
        %h1.animated{"data-animation" => "fadeInUp"}
          Contact
          %span.id-color Us
          %span.small-border.animated{"data-animation" => "fadeInUp"}
        %p.animated{"data-animation" => "fadeIn"}
          Get in touch with us. Feel Free to use contact below.
        .spacer-single
      .col-md-8.animated{"data-animation" => "fadeInUp", "data-delay" => "200", "data-speed" => "5"}
      .col-md-4
        %address
          %span
            %i.fa.fa-map-marker.fa-lg>
            Hyderabad
          %span
            %i.fa.fa-phone.fa-lg>
            +91 9100338277
          %span
            %i.fa.fa-envelope-o.fa-lg
            %a{:href => "mailto:hatkemgmt@gmail.com"} hatkemgmt@gmail.com
        /  %span
        /    %i.fa.fa-globe.fa-lg
        /    %a{:href => "#"} support.cubic.com
%footer
  .container
    .row
      .col-md-12.text-center
        .social-icons
          %a{:href => "#"}
            %i.fa.fa-facebook.fa-lg
          %a{:href => "#"}
            %i.fa.fa-instagram.fa-lg
          %a{:href => "#"}
            %i.fa.fa-google-plus.fa-lg
        .spacer-single
        © Copyright 2018 - Hatke Events
