%header
  .container
    .row
      .col-md-12
        / logo begin
        %h1#logo
          %a{:href => "index.html"}
            %img.logo-1{:alt => "", :src => "images/logo.png"}/
            %img.logo-2{:alt => "", :src => "images/logo-2.png"}/
        %a#menu-btn{href: 'javascript:void(0)', onclick: 'function(){alert("0");}'}
        %nav
          %ul#mainmenu
            %li
              %a{:href => "#wrapper"} Home
            %li
              %a{:href => "#section-about"} About Us
            %li
              %a{:href => "#section-team"} Team
            %li
              %a{:href => "#section-services"} Services
            %li
              %a{:href => "#section-portfolio"} Works
            %li
              %a{:href => "#section-testimonial"} Testimonial
            %li
              %a{:href => "#section-blog"} Blog
            %li
              %a{:href => "#section-contact"} Contact
