%header
  .container
    .row
      .col-md-12
        / logo begin
        %h1#logo
          %a{:href => "index.html"}
            %img.logo-1{:alt => "", :src => "images/logo.png"}/
            %img.logo-2{:alt => "", :src => "images/logo-2.png"}/
        %a#menu-btn{href: 'javascript:void(0)', onclick: 'function(){alert("0");}'}
        %nav
          %ul#mainmenu
            %li
              %a{:href => "#wrapper"} Home
              %ul
                %li
                  %a{:href => "homepage-parallax.html"} Parallax
                %li
                  %a{:href => "homepage-parallax-dark.html"} Parallax Dark
                %li
                  %a{:href => "homepage-parallax-big-font.html"} Parallax Big Font
                %li
                  %a{:href => "homepage-rev-slider.html"} Revolution Slider
                %li
                  %a{:href => "homepage-rev-slider-dark.html"} Revolution Slider Dark
                %li
                  %a{:href => "homepage-video.html"} HTML 5 Video
                %li
                  %a{:href => "homepage-video-dark.html"} HTML 5 Video Dark
                %li
                  %a{:href => "#"} Unlimited Submenu
                  %ul
                    %li
                      %a{:href => "#section-team"} Go To Anchor
                    %li
                      %a{:href => "http://www.google.com/"} Go To URL
                    %li
                      %a{:href => "#"} Unlimited Submenu
                      %ul
                        %li
                          %a{:href => "#section-team"} Go To Anchor
                        %li
                          %a{:href => "http://www.google.com/"} Go To URL
            %li
              %a{:href => "#section-about"} About Us
            %li
              %a{:href => "#section-team"} Team
            %li
              %a{:href => "#section-services"} Services
            %li
              %a{:href => "#section-portfolio"} Works
            %li
              %a{:href => "#section-testimonial"} Testimonial
            %li
              %a{:href => "#section-blog"} Blog
            %li
              %a{:href => "#section-contact"} Contact
